In [3]:
import random
import numpy as np
import pandas as pd

In [4]:
target = [1,1,1,1,1]      # Goal to reach
pop = 10                  # The number of individuals in the population
mutation = 0.2            # The probability that an individual will mute
gen = 100                 # Number of generations

In [25]:
gen_size = len(target)    # The length of the genetic material of each individual
pressure = 5              # How many individuals are selected for reproduction. Necessarily greater than 2

print("\n\nTarget: %s\n"%(target)) # Show the model, with a little spacing

def individual(min, max):
    """
        Create an individual
    """
    return[random.randint(min, max) for i in range(gen_size)]

def createPopulation():
    """
        Creates a new population of individuals
    """
    return [individual(1,9) for i in range(pop)]

def calculateFitness(individual):
    """
        Calculate the fitness of a particular individual.
    """
    fitness = 0
    for i in range(len(individual)):
        if individual[i] == target[i]:
            fitness += 1

    return fitness

def selection_and_reproduction(population):
    """
        Punctuate all the elements of the population and keep the best ones kept
         within 'selected'.
        Then mix the genetic material of the chosen ones to create new individuals
        and fill the population (also keeping a copy of the selected individuals
        without modifying).

        Finally, it mutates the individuals.

    """
    Scored = [ (calculateFitness(i), i) for i in population] # Calculates the fitness of each individual, and stores it in ordered pairs of the form (5, [1,2,1,1,4,1,8,9,4,1])
    Scored = [i[1] for i in sorted(Scored)] # Order the ordered pairs and stay only with the array of values
    population = Scored



    selected =  Scored[(len(Scored)-pressure):] # This line select the 'n' individuals at the end, where we are given by 'pressure'



    # The genetic material is mixed to create new individuals
    for i in range(len(population)-pressure):
        cut_point = random.randint(1,gen_size-1) # A point is chosen to make the exchange
        parents = random.sample(selected, 2) # Two parents are chosen
        
        population[i][:cut_point] = parents[0][:cut_point] # The genetic material of the parents is mixed in each new individual
        population[i][cut_point:] = parents[1][cut_point:]

    return population # The array 'population' now has a new population of individuals, which are returned

def mutation(population):
    """
        Individuals are randomly mutated. Without the mutation of new genes,
        the solution could never be reached.
    """
    for i in range(len(population)-pressure):
        if random.random() <= mutation: # Each individual of the population (minus the parents) has a probability of mutating
            cut_point = random.randint(0,gen_size-1) # A random cut point is chosen
            nuevo_valor = random.randint(1,9) #A nd a new value for this point

            # It is important to see that the new value is not the same as the old one
            while nuevo_valor == population[i][cut_point]:
                nuevo_valor = random.randint(1,9)

            # Mutation is applied
            population[i][cut_point] = nuevo_valor

    return population



population = createPopulation()# Initialize a population
p0 = population
print("Initial Population:\n%s"%(population)) # The initial population is shown

ger = 0

pop_ar = []

# Evolution of the population
for i in range(gen):
    population = selection_and_reproduction(population)
    population = mutation(population)
    ger += 1
    pop_ar.append(population)
    #print '\Generation: %i'% ger
    #print("Population:\n%s"%(population))

print("\nFinal Population:\n%s"%(population)) # The evolved population is shown
print("\n\n")

Target: [1, 1, 1, 1, 1]

Initial Population:
[[2, 3, 5, 1, 5], [8, 8, 6, 8, 7], [3, 4, 6, 8, 5], [3, 7, 9, 1, 1], [3, 2, 2, 9, 9], [9, 7, 4, 4, 2], [6, 3, 4, 9, 2], [3, 3, 4, 6, 9], [3, 4, 2, 4, 9], [8, 7, 6, 4, 4]]

Final Population:
[[1, 1, 1, 9, 1], [1, 1, 1, 1, 6], [1, 1, 1, 4, 1], [6, 1, 1, 1, 1], [1, 9, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]

In [26]:
idx = []

for i in range(1,pop+1):
    idx_ = 'Individual %i'% i
    idx.append(idx_)

df = pd.DataFrame(pop_ar, columns=idx)
df['Generation'] = range(1,gen+1)
df = df.set_index('Generation')

df

,Individual 1,Individual 2,Individual 3,Individual 4,Individual 5,Individual 6,Individual 7,Individual 8,Individual 9,Individual 10
Generation,,,,,,,,,,
1,"[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]"
2,"[1, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]"
3,"[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]"
4,"[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
5,"[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 9, 1]"
6,"[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 9, 1]"
7,"[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 9, 1]"
8,"[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]"
9,"[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[6, 1, 1, 1, 1]"
10,"[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[6, 1, 1, 1, 1]"
11,"[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[6, 1, 1, 1, 1]"
12,"[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[6, 1, 1, 1, 1]"
13,"[1, 1, 1, 1, 6]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[6, 1, 1, 1, 1]"
14,"[1, 1, 1, 9, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]"
15,"[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]"
16,"[1, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]"
17,"[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
18,"[1, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
19,"[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
20,"[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
21,"[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
22,"[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
23,"[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
24,"[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
25,"[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 9, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
26,"[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
27,"[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 9, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
28,"[1, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 1, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
29,"[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
30,"[1, 1, 1, 1, 6]","[1, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
...,...,...,...,...,...,...,...,...,...,...
71,"[1, 1, 1, 9, 1]","[1, 9, 1, 1, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
72,"[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 9, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
73,"[6, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
74,"[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
75,"[6, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
76,"[1, 1, 1, 9, 1]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
77,"[1, 1, 1, 9, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[1, 9, 1, 1, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
78,"[1, 1, 1, 9, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
79,"[1, 1, 1, 9, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
80,"[1, 1, 1, 9, 1]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
81,"[1, 1, 1, 1, 6]","[1, 9, 1, 1, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
82,"[1, 1, 1, 9, 1]","[6, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
83,"[1, 9, 1, 1, 1]","[1, 1, 1, 9, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
84,"[1, 1, 1, 9, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
85,"[1, 9, 1, 1, 1]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
86,"[1, 1, 1, 4, 1]","[1, 1, 1, 9, 1]","[1, 9, 1, 1, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
87,"[6, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
88,"[1, 9, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
89,"[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 9, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
90,"[6, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
91,"[1, 1, 1, 4, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
92,"[1, 1, 1, 9, 1]","[1, 1, 1, 4, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
93,"[1, 1, 1, 9, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
94,"[1, 9, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
95,"[1, 1, 1, 4, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 6]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
96,"[6, 1, 1, 1, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
97,"[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
98,"[1, 1, 1, 1, 6]","[1, 9, 1, 1, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 9, 1]","[1, 1, 1, 4, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
99,"[1, 1, 1, 1, 6]","[1, 1, 1, 9, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"
100,"[1, 1, 1, 9, 1]","[1, 1, 1, 1, 6]","[1, 1, 1, 4, 1]","[6, 1, 1, 1, 1]","[1, 9, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]"

## Highlight the target

In [27]:
for i in df.columns:
    df[i] = df[i].apply(str)

In [28]:
t = str(target)

In [29]:
def highlight_max(s):
    '''
    highlight the target in a Series yellow.
    '''
    is_max = s == t
    return ['background-color: yellow' if v else '' for v in is_max]

In [30]:
df.style.apply(highlight_max)